* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: hidden;
}

canvas {
  top: 0;
  left: 0;
}

#start-screen {
  
}

#game-over {

}

#score {

}

#hi-score {

}

.hide {
  display: none;
}