* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden !important;
  font-family: "Rubik Doodle Shadow", "Helvetica Neue", "Helvetica";
  word-spacing: 5px;
}

canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas3 {
  width: 100vw;
  height: 100dvh;
  background-image: url(img/nebula01.png);
  animation: moveBackground 25s ease-in-out infinite alternate-reverse;
}

.hide {
  display: none;
}

.idle {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  color: rgb(244, 239, 209);
  background-image: -webkit-linear-gradient(134deg, #000 40%, #407);
}

.idle h1 {
  font-size: 34px;
  text-align: center;
  margin-top: 20dvh;
}

.idle h3 {
  font-size: 28px;
  text-align: center;
  margin-top: 60px;
}

.idle p {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

#game-over {
  height: 60dvh;
  margin: 20dvh 0;
  background-image: -webkit-linear-gradient(134deg, #093b27 20%, rgb(59, 6, 76));
  color: rgb(244, 239, 209);
  border: 7px solid lightblue
}

#game-over h1 {
  font-size: 34px;
  text-align: center;
  padding-top: 60px;
}

#game-over h3 {
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}

#game-over h5 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

.scoreboard {
  margin: 30px;
  font-size: 32px;
  color: rgb(244, 239, 209);
  text-shadow: 0 0 2px #000;
}

#score {
  float: left;
}

#hi-score {
  float: right;
}

strong {
  font-size: 28px;
  font-weight: 800;
}

@media screen and (max-width: 620px) {
  #game-over h1 {
    font-size: 24px;
    padding-top: 30px;
  }
  
  #game-over h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  #game-over h5 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 6px;
  }
  .scoreboard {
    margin: 10px;
    font-size: 20px;
    color: rgb(244, 239, 209);
  }
  .idle h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 10dvh;
  }
  
  .idle h3 {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
  }
  
  .idle p {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
  }
  .game-over-container {
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: -30px -10px;
  }
  30% {
    background-position: -20px  10px;
  }
  50% {
    background-position: 0 10px;
  }
  80% {
    background-position: -10px -10px;
  }
  100% {
    background-position: -30px -10px;
  }
}