/* -- GENERAL -- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Rubik Doodle Shadow", "Helvetica Neue", "Helvetica";
  word-spacing: 5px;
}

#background-page {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  z-index: -1000;
  background-image: url(img/nebula01.png);
  animation: moveBackground 100s ease-in-out infinite alternate-reverse;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#canvas3 {
  width: 100vw;
  height: 100dvh;
}

.hide {
  display: none;
}

/* -- MAIN MENU -- */

.idle {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  color: rgb(252, 250, 200);
}
.menu-animation {
  animation: menu 1.5s ease-in 1;
  animation-delay: 3s;
}

#planet-title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
  display: block;
  text-align: center;
}

#menu-planet {
  position: relative;
  left: -27%;
  max-width: 70%;
  margin-top: 35px;
  z-index: -10;
  animation: planet-spin 240s linear infinite;
}
.menu-player-container {
  position: absolute;
  top: 5%;
  width: 100px;
  height: 140px;
  display: block;
  overflow: hidden;
  animation: menu-player 25s linear infinite;
}

#menu-player-left {
  left: 5%;
  background-image: url("img/players.png");
  background-position: 0 0;
}

#menu-player-right {
  right: 5%;
  background-image: url("img/players.png");
  background-position: -100px -280px;
}

#title {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 25px 10px;
  background-image: url(img/aluminum-plate-with-indentations.png);
  background-position: center;
  background-size: 100%;
  border: 6px solid rgb(221, 218, 150);
  font-size: 52px;
  word-spacing: 8px;
  letter-spacing: 8px;
  border-radius: 28px;
  box-shadow: 0 0 58px #6bfff3;
  text-shadow: 0 0 20px #d676e4, 2px 2px 3px #a85ab4, -2px -2px 3px #a85ab4;
}

#start-menu {
  position: absolute;
  bottom: 15%;
  right: 1%;
  width: 40%;
  height: 50%;
}
#start-menu ul {
  position: relative;
  text-align: left;
  list-style-type: none;
}

#start-menu ul li {
  position: relative;
  margin-top: 26px;
  margin-bottom: 56px;
  margin-left: 60px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#start-menu ul li::before {
  position: absolute;
  left: -80px;
  bottom: -12px;
  width: 60px;
  height: 60px;
  padding-right: 80px;
  content: "";
}
#start-menu ul li:nth-last-of-type(1)::before {
  background: url("img/planets/planet08.png") no-repeat;
  background-size: 60px 60px;
}
#start-menu ul li:nth-last-of-type(2)::before {
  background: url("img/planets/planet09.png") no-repeat;
  background-size: 60px 60px;
}
#start-menu ul li:nth-last-of-type(3)::before {
  background: url("img/planets/planet05.png") no-repeat;
  background-size: 60px 60px;
}
#start-menu ul li:nth-last-of-type(4)::before {
  background: url("img/planets/planet00.png") no-repeat;
  background-size: 60px 60px;
}

#start-menu ul li:hover {
  scale: 1.2;
}

#start-menu ul li span {
  width: 38px;
  height: 42px;
}

.mode-select {
  position: absolute;
  left: 20%;
  bottom: 10%;
  width: 30%;
  z-index: 10;
  user-select: none;
  padding: 34px;
  font-size: 24px;
  line-height: 40px;
  border-radius: 22px;
  color: rgb(252, 250, 200);
  background-color: rgba(126, 35, 103, 0.738);
  transition: all .8s ease-in-out;
}
.mode-select h3 {
  font-size: 34px;
  margin-bottom: 34px;
  text-align: center;
}
.mode-option {
  position: relative;
  margin-top: 28px;
  width: 100%;
  display: block;
  cursor: pointer;
}
.mode-form i {
  position: absolute;
  left: 80%;
  padding: 5px 8px;
  border: 2px solid rgb(252, 250, 200);
  border-radius: 50%;
}
.mode-form {
  position: relative;
}
.mode-select form input {
  position: absolute;
  left: 20%;
  display: block;
}

.mode-option:hover {
  background-color: rgba(70, 12, 56, 0.738);
  padding-left: 10px;
  border-radius: 10px;
}

.mode-option i[tool]:hover::after {
  position: absolute;
  width: 350px;
  left: 100px;
  bottom: -40px;
  padding: 10px;
  content: attr(tool);
  font-size: 16px;
  line-height: 30px;
  border-radius: 10px;
  color:rgb(3, 40, 127);
  background-color: rgba(253, 250, 86, 0.707);
  text-shadow: 
  2px 3px 3px rgba(255, 244, 92, 0.68),
  -2px 3px 3px rgba(255, 244, 92, 0.68),
  2px -3px 3px rgba(255, 244, 92, 0.68),
  -2px -3px 3px rgba(255, 244, 92, 0.68);
}

.modal-passive {
  left: -50%;
  opacity: 0;
}

.mode-active {
  padding: 4px;
  padding-left: 20px;
  padding-right: -10px;
  font-size: 28px;
  border-radius: 10px;
  color: rgb(110, 49, 129);
  text-shadow: 
  2px 3px 3px rgba(255, 244, 92, 0.68),
  -2px 3px 3px rgba(255, 244, 92, 0.68),
  2px -3px 3px rgba(255, 244, 92, 0.68),
  -2px -3px 3px rgba(255, 244, 92, 0.68);
  background-color: rgba(112, 228, 226, 0.941);
}
.mode-active:hover {
  padding: 4px;
  padding-left: 20px;
  padding-right: -10px;
  font-size: 28px;
  border-radius: 10px;
  color: rgb(110, 49, 129);
  text-shadow: 
  2px 3px 3px rgba(255, 244, 92, 0.68),
  -2px 3px 3px rgba(255, 244, 92, 0.68),
  2px -3px 3px rgba(255, 244, 92, 0.68),
  -2px -3px 3px rgba(255, 244, 92, 0.68);
  background-color: rgba(112, 228, 226, 0.941);
}

.key-enter {
  position: absolute;
  top: -5px;
  width: 48px;
  height: 120px;
  margin-left: 22px;
  content: "";
  background-image: url("img/key-tiles.png");
  background-position: -68px 0;
  background-size: 106px 43px;
}

.key-enter::after {
  position: absolute;
  top: 54px;
  left: -24px;
  content: "ENTER";
  padding: 8px;
  font-size: 22px;
  border-radius: 10px;
  background:rgba(221, 218, 150, 0.231);
}

/* -- GAME OVER -- */

#game-over {
  height: 60dvh;
  margin: 20dvh 0;
  background-image: -webkit-linear-gradient(
    134deg,
    #093b27 20%,
    rgb(59, 6, 76)
  );
  color: rgb(244, 239, 209);
  border: 7px solid lightblue;
}

#game-over h1 {
  padding-top: 60px;
  font-size: 34px;
  text-align: center;
}

#game-over h3 {
  margin-top: 40px;
  font-size: 28px;
  text-align: center;
}

#game-over h5 {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.scoreboard {
  margin: 30px;
  font-size: 32px;
  color: rgb(244, 239, 209);
  text-shadow: 0 0 2px #000;
}

/* -- SCOREBOARD --  */

#score {
  float: left;
}

#hi-score {
  float: right;
}

#endless-time {
  position: absolute;
  bottom: 10px;
  left: 5px;
  margin: 30px;
  font-size: 32px;
  color: rgb(244, 239, 209);
  text-shadow: 0 0 2px #000;
}

strong {
  font-size: 28px;
  font-weight: 800;
}

/* -- LOADING SCREEN -- */

#load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgb(25, 0, 46);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(5) translate(-15%, -25%);
  z-index: 101;
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  --c: no-repeat linear-gradient(#5efffc 0 0);
  background: var(--c), var(--c), var(--c), var(--c), var(--c), var(--c),
    var(--c);
  background-size: calc(1ch + 1px) 100%;
  border-bottom: 10px solid var(--c);
  position: relative;
  animation: l8-0 3s infinite linear;
  clip-path: inset(-20px 0);
}
.loader::before {
  content: "Loading";
  color: #5efffc;
}
.loader::after {
  position: absolute;
  left: -10px;
  bottom: 100%;
  width: 10px;
  height: 14px;
  content: "";
  background: #25adda;
  animation: l8-1 3s infinite linear;
}

/* -- MEDIA QUERIES -- */

@media screen and (max-width: 620px) {
  #game-over h1 {
    font-size: 24px;
    padding-top: 30px;
  }

  #game-over h3 {
    font-size: 20px;
    margin-top: 10px;
  }

  #game-over h5 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 6px;
  }
  .scoreboard {
    margin: 10px;
    font-size: 20px;
    color: rgb(244, 239, 209);
  }
  .idle h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 10dvh;
  }

  .idle h3 {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
  }

  .idle p {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
  }
  .game-over-container {
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .loader {
    transform: scale(2) translate(-25%, -25%);
  }
}

/* -- LOADER ANIMATIONS -- */

@keyframes l8-0 {
  0%,
  12.5% {
    background-position: calc(0 * 100% / 6) 0, calc(1 * 100% / 6) 0,
      calc(2 * 100% / 6) 0, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  25% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 0,
      calc(2 * 100% / 6) 0, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  37.5% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 0, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  50% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 0, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  62.5% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 0,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  75% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 40px,
      calc(5 * 100% / 6) 0, calc(6 * 100% / 6) 0;
  }
  87.4% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 40px,
      calc(5 * 100% / 6) 40px, calc(6 * 100% / 6) 0;
  }
  100% {
    background-position: calc(0 * 100% / 6) 40px, calc(1 * 100% / 6) 40px,
      calc(2 * 100% / 6) 40px, calc(3 * 100% / 6) 40px, calc(4 * 100% / 6) 40px,
      calc(5 * 100% / 6) 40px, calc(6 * 100% / 6) 40px;
  }
}
@keyframes l8-1 {
  100% {
    left: 115%;
  }
}

/* -- MY ANIMATIONS -- */

@keyframes moveBackground {
  0% {
    background-position: -30px -10px;
    transform: rotateZ(0deg);
  }
  30% {
    background-position: -20px 10px;
  }
  50% {
    background-position: 0 10px;
    transform: rotateZ(-100deg);
  }
  80% {
    background-position: -10px -10px;
  }
  100% {
    background-position: -30px -10px;
    transform: rotateZ(0deg);
  }
}

@keyframes menu {
  0% {
    transform: scale(0);
    font-size: 0px;
  }
  30% {
    font-size: 32px;
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes planet-spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes menu-player {
  0% {
    transform: rotate(-15deg) translateY(0);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg) translateY(8px);
  }
  75% {
    transform: rotate(0) translateY(-4px);
  }
  100% {
    transform: rotate(-15deg);
    transform: rotate(-15deg) translateY(0);
  }
}


@media screen and (max-width: 500px) {
  #planet-title {
    transform: translate(-50%, -60%);
  }
}